*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
}
.container-fluid{
    position: relative;
    display: block;
    width: 100%;
}
.bg-dark{
    background-color: rgba(0,0,0,0.6);
}

.row{
    width: 800px;
    display: flex;
    margin: 50px auto;
    border-radius: 10px;
    padding: 10px;
    background: #fff;
    justify-content: center;
}
.row form{
    display: flex;
    flex-direction: column;
    flex: 1;
}